<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-content-container">
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input
        type="text"
        (focus)="onFocusEvent()"
        matInput
        formControlName="username"
        placeholder="Nome"
        required
      />
    </mat-form-field>
    <mat-error>
      @if (form.get('username')?.hasError('required')){ O username é obrigatório
      or deve ter mais de 3 caracteres }
    </mat-error>
    <mat-error>
      @if (form.get('username')?.hasError('minlength')){ O username é
      obrigatório or deve ter mais de 3 caracteres }
    </mat-error>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        type="text"
        matInput
        formControlName="email"
        placeholder="Email"
        required
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Senha</mat-label>
      <input
        type="text"
        matInput
        formControlName="password"
        placeholder="Senha"
        required
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Confirmação </mat-label>
      <input
        type="text"
        matInput
        formControlName="confirmation"
        placeholder="Confirmação de Senha"
        required
      />
    </mat-form-field>
    <span
      ngIf="!form.get('username').valid && form.get('username').touched"
      class="help-block"
      >Please enter a valid username!</span
    >
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
    >
      Salvar
    </button>
  </div>
</form>

<div style="width: 100%">
  @if (focusSupported && !form.valid){
  <div
    style="
      width: 300px;
      margin: auto;
      padding: 20px;
      background-color: palegoldenrod;
    "
  >
    <b>Validation errors</b>
    <ul>
      @if (form.get('username')?.value.errors?.['minlength'] ??
      form.get('username')?.value.errors?.['required']){
      <li>The first name is not long enough, or not specified.</li>
      }
    </ul>
  </div>
  }
</div>
